body{

    margin: 0%;

}


.navigation{

    display: flex;
    gap: 16px;
    list-style-type: none;
    

}
nav{
    display: flex;
padding: 32px;
width: 100%;
justify-content: space-between;
background-color: white;
box-shadow: 0px 0px 11px 4px rgba(0,0,0,0.24);
background-color: orange;


}


h1{

    font-family: Tahoma,  Georgia, sans-serif;
font-size: 39px;
letter-spacing: 2px;
word-spacing: 1.8px;
color: #000000;
font-weight: 700;
text-decoration: none solid rgb(68, 68, 68);
font-style: normal;
font-variant: normal;
text-transform: uppercase;
}
img{
    
}
.premierpost{

    
}


.projet_principal{
    height: 500px;
    width: 90%;
    
}
.projet{

    height: 150px;
    width: 250px;
}

header{

    display: flex;
    justify-content: space-between;

}
video{

    height:900px;
    width: 50%;
    
}
.logo_nav{

    
    height: 90px;
   

}